header.header
	.container
		.logo
			a(class="logo__link" href="index.html")
				img(class="logo__img" src="static/images/general/logo.svg" alt="dighistore")
		nav.nav-header
			.nav-header__btn
				span
			ul.nav-header__list
				li.nav-header__item
					a(href="index.html" class="nav-header__link ")
						i.fa.fa-home
						|Главная
				li.nav-header__item.nav-header__item--parent#nav-header__item--parent
					a(href="#" class="nav-header__link nav-header__sub-link ")
						i.fa.fa-book
						|1
					ul.nav-header__list.nav-header__sub-list
						li.nav-header__item
							a(href="#" class="nav-header__link ")
								i.fa.fa-book
								|1
						li.nav-header__item
							a(href="#" class="nav-header__link")
								i.fa.fa-book
								|2
						li.nav-header__item
							a(href="#" class="nav-header__link")
								i.fa.fa-book
								|3

				li.nav-header__item
					a(href="#" class="nav-header__link")
						i.fa.fa-book
						|2
			ul.nav-header__list
				each item in nav.navHeader
					li.nav-header__item
						a(href= item.href title=item.title).nav-header__link= item.text
