// Colors
$white_darken: rgb(105, 103, 103);
$white: rgb(231, 226, 226);
$black: rgba(0, 0, 0, 1);
$yellow: rgba(254, 164, 16, 1);
$orange: rgba(249, 83, 0, 1);
$orange_darken: darken(rgba(249, 83, 0, 1), 6.25%);
$red: rgba(221, 4, 4, 0.8);
$red_darken: rgba(159, 3, 3, 1);
//$green: rgba(12, 119, 12, 0.8);
$green: rgb(2, 177, 142);
//$green_darken: rgba(9, 78, 9, 1);
//$green_lighten: rgba(12, 119, 12, 1);
$green_darken: rgb(4, 122, 99);
$green_lighten: rgb(27, 188, 155);

// Background
$body_bg:$black;
$header_bg_color: $black;
$footer_bg_color: $black;


// buttons
$btn_color: $white;
$btn_color_hover: $yellow;
$btn_bg: $green;
$btn_border: $green_darken;
$btn_bg_hover: $green_darken;




// nav/menu
$burger_color:$white;
$nav_mobil_bg:$black;
$nav_mobil_border: 1px solid $white;
$nav_sub_border: 1px solid $white;
$nav_color: $white;
$nav_color_hover:$yellow;
$nav_sub_color: $white;
$nav_sub_color_hover:$yellow;
$nav_sub_bg_color:$black;

$nav-top_color:$orange;
$nav-top_color_hover:$yellow;
$nav_border_hover:$yellow;
$scroll_top_bg_hover: $btn_bg_hover;
$scroll_top_bg: $btn_bg;
$scroll_top_color: $btn_color;
$scroll_top_border: $btn_border;

// content
$content_title:$yellow;
$content_sub_title:$yellow;



// Sizes
$base-font-size: 16px;

@media(max-width:760px) {
  $base-font-size: 15px;
}

$breakpoints: ("phone" : 400px,
  "phone-wide" : 480px,
  "phablet" : 560px,
  "tablet-small": 640px,
  "tablet" : 768px,
  "tablet-wide" : 1024px,
  "desktop" : 1248px,
  "desktop-wide": 1440px);

$content-size: 1200px;

// Fonts
$base_font:'Roboto',
Arial,
sans-serif;
$title_font:'Cuprum',
Arial,
sans-serif;
$title_font-size:'Cuprum',
Arial,
sans-serif;
$title_font-size:2.375rem;
$sub-title_font-size:1.875rem;
$body_color: $white;
$title_color: $yellow;
$sub-title_color: $yellow;
$content_color:$white
