footer.footer
	.container
		.nav-footer
			ul.nav-footer__list
				li.nav-footer__item
					a(href="" class="nav-footer__link")
						|Доставка

				li.nav-footer__item
					| ©
					time(datetime="2019-01-01") 2019
					|  site.ru
